.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.addcard-container {
  background-color: #fff;
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.2s;
}